.hero-section {
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

/* --- Lado Izquierdo --- */
.content-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.foco-img {
    width: 80px; /* Tamaño base */
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    object-fit: contain;
    transform: rotate(10deg);
}

.title {
    color: var(--azul-principal);
    font-size: 3.3rem; /* Tamaño fluido: mínimo 2rem, máximo 3.5rem */
    line-height: 1.1;
    font-weight: 800;
    margin: 0;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* --- Lado Derecho --- */
.image-group {
    display: flex;
    justify-content: center;
}

.kids-img {
    width: 100%;
    max-width: 500px; /* Evita que crezca demasiado en PC */
    height: 25rem;
    object-fit: contain;
}

/* --- MEDIA QUERIES (Para Tablets y PC) --- */
@media (min-width: 768px) {
    .main-container {
        grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas medianas/grandes */
        text-align: left;
    }
    
    .content-group {
        align-items: center; /* Mantiene el foco centrado sobre el texto */
    }

    .foco-img {
        width: 150px; /* Un poco más grande en PC */
    }

}

@media (max-width: 768px) {
    .title {
        font-size: 1.75rem; 
    }
    .kids-img {
        width: 8rem;
        height: auto;
        object-fit: contain;
    }
}